$var title:
<body>
    <div class="row hidden-xs">
        <div class="page-header top-header">
            <h3>Login</h3>
        </div><!--page-header-->
    </div><!--row-->

    <div id="content" class="login">

    <form action="" method="POST" enctype="application/x-www-form-urlencoded">
    	<input type="text" name="username" required title="Username required" placeholder="Username" data-icon="U"/>
        <input type="password" name="password" required title="Password required" placeholder="Password" data-icon="x"/>
        <input type="submit" id="login" class="submit" value="Login"/>
    </form>

    </div>
</body>
