/* Base / Common */
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #f1f1ed;
  background-color: #191919;
}
a {
  color: #33b5e5;
}
a:hover,
a:focus {
  color: #0099cc;
}
.body-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
}
.body-wrap > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-inverse.navbar-main .navbar-nav > li,
.navbar-inverse.navbar-main .navbar-nav > li > a {
  font-size: 12pt;
  color: #ffffff;
}
.navbar-inverse.navbar-main .navbar-nav > li:hover,
.navbar-inverse.navbar-main .navbar-nav > li:focus,
.navbar-inverse.navbar-main .navbar-nav > .active > a,
.navbar-inverse.navbar-main .navbar-nav > .active > a:hover,
.navbar-inverse.navbar-main .navbar-nav > .active > a:focus {
  color: #f1f1ed;
  background-color: #C50000;
}
.navbar-inverse.navbar-main .navbar-nav > .dropdown > .dropdown-toggle {
  font-size: 12pt;
  color: #f1f1ed;
}
.navbar-inverse.navbar-main .navbar-nav > .dropdown > .dropdown-toggle:hover {
  color: #f1f1ed;
  background-color: #C50000;
}
.navbar-inverse.navbar-main .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-inverse.navbar-main .navbar-brand {
  font-size:1.8em;
  color: #ffffff;
}
.navbar-inverse.navbar-main {
  background-color: #191919;
  border-bottom: 2px solid #C50000;
}
.navbar-inverse.navbar-footer {
  background-color: #191919;
  border: 0;
  margin-bottom: 0;
}
.page-header.top-header {
  margin-top: -20px;
  border-bottom: 2px solid #C50000;
}
*, *:before, *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: border-box;
    box-sizing: initial;
}
/* Default */
.jumbotron {
  color: #f1f1ed;
  background-color: #191919;
  text-align: center;
}
.jumbotron h1 {
  font-size: 90px;
  font-weight: bold;
}
.jumbotron p {
  font-size: 25px;
}
@media (max-width: 480px) {
  .jumbotron h1 {
    font-size: 70px;
  }
}
.video-player-large {
    margin-top: 50px;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video-player-small {
    margin-top: 25px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 480px){
    .video-player-large {
        display: none;
    }
    .video-player-small {
        display: block;
    }
}
@media screen and (min-width:481px){
    .video-player-large {
        display: block;
    }
    .video-player-small {
        display: none;
    }
}
